$primaryTextColor: #888; // Cor basica dos textos do site
$primaryTextColor: #888; // Cor basica dos textos do site
$titleTextColor: rgb(0, 105, 255); // Cor basica dos ttitulos do site
$inputPlaceholderColor: #bdbdbd; // Cor dos placeholders em geral
$inputDisabledBackgroudColor: whitesmoke; // Cor de fundo dos inputs desabilitados
$menuBackgroundColor: #031b4d;


//Corpo
body {
	width: 100vw;
	min-height: 100vh;
	font-family: sans-serif;
	color: $primaryTextColor;
	line-height: 1.3;

	display: flex;
  	flex-direction: column;
}
body > header {
	background-color:$menuBackgroundColor;
	padding: 0px 0px;
	box-sizing: border-box;
	color: lighten($primaryTextColor, 30%);
}
body > main {
	flex-grow: 1;
	padding: 0px 20px;
}
body > footer {
	text-align: center;
	height: 50px;
	background-color: $menuBackgroundColor;
	color: lighten($primaryTextColor, 30%);
	a{
		color: lighten($primaryTextColor, 30%);
		text-decoration: none;
		font-weight: bold;
	}
}
#myCanvas{
	padding-left: 0;
	padding-right: 0;
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1.app-title {
	margin-top: 0px;
	padding-top: 20px;
	font-size: 20px;
	text-align: center;
}

section.main-feature {
	display: inline-block;
	width: calc(70vw - 20px);
	min-width: 300px;
}
section.secundary-feature {
	display: inline-block;
	float: right;
	min-width: 200px;
	width: calc(30vw - 20px);
    height: 100%;
}

// Menu de transisão de telas
nav.main-menu {
	padding: 0px;
	margin: 0px;
	
	// Lista das telas de menu
	ul{
		width: 100%;
		margin: 0px;
		clear: both;
		padding: 0px;
		height: 37px;
	}
	// item da lista de telas de menu
	li {
		display: inline;
		a:hover {
			border-bottom: 5px solid lighten($menuBackgroundColor, 30%);
		}
		&.current a {
			border-bottom: 5px solid lighten($menuBackgroundColor, 10%);
			background-color: lighten($menuBackgroundColor, 10%);
		}
		a{
			color: lighten($primaryTextColor, 30%);
			display: block;
			float: left;
			line-height: 2em;
			padding: 0 15px;
			text-decoration: none;
		}
	}
}
